<%= index_header(ShootingLocation) %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shooting_locations.each do |shooting_location| %>
      <tr>
        <td><%= shooting_location.name %></td>
        <td><%= shooting_location.latitude %></td>
        <td><%= shooting_location.longitude %></td>
        <td><%= shooting_location.elevation %></td>
        <td><%= index_actions(shooting_location) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
