<%= simple_form_for(@bullet) do |f| %>
  <%= render 'form_errors', f: f %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :grain %>
    <%= f.association :caliber, collection: @calibers %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary'  %>
  </div>
<% end %>
