<%= index_header(Bullet) %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Grain</th>
      <th>Caliber</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bullets.each do |bullet| %>
      <tr>
        <td><%= bullet.name %></td>
        <td><%= bullet.grain %></td>
        <td><%= bullet.caliber.name %></td>
        <td><%= index_actions(bullet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
