<p>
  <strong>Name:</strong>
  <%= @bullet.name %>
</p>

<p>
  <strong>Grain:</strong>
  <%= @bullet.grain %>
</p>

<p>
  <strong>Caliber:</strong>
  <%= @bullet.caliber %>
</p>

<%= link_to 'Edit', edit_bullet_path(@bullet), class: 'btn btn-info' %> |
<%= link_to 'Back', bullets_path, class: 'btn btn-default' %>
