<%= index_header(Brass) %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Caliber</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @brasses.each do |brass| %>
      <tr>
        <td><%= brass.name %></td>
        <td><%= brass.caliber.name %></td>
        <td><%= index_actions(brass) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination(Brass) %>
