<%= show_header(@shooting_log) do %>
<%= link_to(new_shooting_group_path(shooting_log_id: @shooting_log.id), class: 'btn btn-primary') do %>
  <span class="fa fa-plus">New Group</span>
<% end %>
<% end %>

<dl class='dl-horizontal'>
  <dt>Date:</dt>
  <dd><%= @shooting_log.date %></dd>

  <dt>Time:</dt>
  <dd><%= print_time(@shooting_log.time) %></dd>

  <dt>Shooting location:</dt>
  <dd><%= @shooting_log.shooting_location.name %></dd>

  <dt>Temperature:</dt>
  <dd><%= @shooting_log.temperature_full %></dd>

  <dt>Pressure:</dt>
  <dd><%= @shooting_log.pressure_full %></dd>

  <dt>Humidity:</dt>
  <dd><%= @shooting_log.humidity %></dd>

  <dt>Wind speed:</dt>
  <dd><%= @shooting_log.wind_speed_full %></dd>

  <dt>Angle:</dt>
  <dd><%= @shooting_log.angle %></dd>

  <dt>Conditions:</dt>
  <dd><%= @shooting_log.conditions %></dd>

  <dt>Notes:</dt>
  <dd><%= @shooting_log.notes %></dd>
</dl>

<h3>Groups</h3>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Load</th>
      <th>Group size</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shooting_log.shooting_groups.each do |shooting_group| %>
      <tr>
        <td><%= link_to shooting_group.name, shooting_group %></td>
        <td><%= shooting_group.load.name %></td>
        <td><%= shooting_group.group_size %></td>
        <td><%= index_actions(shooting_group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
