
<%= simple_form_for(@load) do |f| %>
  <%= render 'form_errors', f: f %>

  <div class="form-inputs">
    <%= f.input :date, as: :date_picker, input_html: { class: 'col-sm-4' } %>
    <%= f.association :caliber, collection: @calibers %>
    <%= f.input :brass_id, collection: @calibers,
                label_method: :name_caliber, as: :grouped_select, group_method: :brasses, required: true %>
    <%= f.input :brass_length do %>
      <%= f.input_field :brass_length, class: 'col-sm-3' %>
      <%= f.label 'Unit:', class: 'col-sm-2 col-lg-1 text-sm-right' %>
      <%= f.input_field :brass_length_unit, as: :select, collection: Unit.length, class: 'col-sm-2' %>
    <% end %>
    <%= f.input :brass_uses %>
    <%= f.input :bullet_id, collection: @calibers,
                label_method: :name_caliber_grain, as: :grouped_select, group_method: :bullets, required: true %>
    <%= f.input :powder do %>
      <%= f.input_field :powder_id, as: :select, collection: @powders, class: 'col-sm-4'  %>
      <%= f.label 'Weight:', class: 'col-sm-3 col-lg-2 text-sm-right' %>
      <%= f.input_field :powder_weight, class: 'col-sm-2' %>
    <% end %>
    <%= f.association :primer, collection: @primers %>
    <%= f.input :col, label: 'COL' do %>
      <%= f.input_field :col, class: 'col-sm-3' %>
      <%= f.label 'Unit:', class: 'col-sm-2 col-lg-1 text-sm-right' %>
      <%= f.input_field :col_unit, as: :select, collection: Unit.length, class: 'col-sm-2' %>
    <% end %>
    <%= f.input :run_out do %>
      <%= f.input_field :run_out, class: 'col-sm-3' %>
      <%= f.label 'Unit:', class: 'col-sm-2 col-lg-1 text-sm-right' %>
      <%= f.input_field :run_out_unit, as: :select, collection: Unit.length, class: 'col-sm-2' %>
    <% end %>
    <%= f.input :velocity do %>
      <%= f.input_field :velocity, class: 'col-sm-3' %>
      <%= f.label 'Unit:', class: 'col-sm-2 col-lg-1 text-sm-right' %>
      <%= f.input_field :velocity_unit, as: :select, collection: Unit.velocity, class: 'col-sm-2' %>
    <% end %>
    <%= f.input :rounds, label: 'Number of Rounds' %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
