<h1>Loads</h1>

<table class='table table-striped table-condensed table-bordered'>
  <thead>
    <tr>
      <th><%= sort_link 'date' %></th>
      <th>Bullet</th>
      <th>Powder</th>
      <th>Powder weight</th>
      <th>Primer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loads.each do |load| %>
      <tr>
        <td><%= load.date %></td>
        <td><%= load.bullet.name_grain_caliber %></td>
        <td><%= load.powder.name %></td>
        <td><%= load.powder_weight %></td>
        <td><%= load.primer.name %></td>
        <td><%= link_to 'Show', load, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_load_path(load), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', load, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='container'>
  <div class='row'>
    <div class='col-3'>
<%= form_tag loads_path, method: :get, id: 'per_page_form' do %>
  <%= hidden_field_tag :column, params[:column] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= select_tag :per_page, options_for_select([15,25,50,100], selected: (params[:per_page] || Load.default_per_page)) %>
  <%= label_tag 'per page' %>
<% end -%>
    </div>
    <div class='col-7 offset-2'>
<%= paginate @loads, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
<br>

<%= link_to 'New Load', new_load_path, class: 'btn btn-primary' %>
