<%= render 'errors', object: @load %>
<%= show_header(@load) do %>
<%= link_to(calculate_velocity_load_path(@load), class: 'dropdown-item') do %>
  <span class="fa fa-calculator"></span>Calculate velocity
<% end %>
<% new_velocity_params = {load_id: @load.id, caliber_id: @load.caliber.id} %>
<%= link_to(new_shooting_velocity_path(new_velocity_params), class: 'dropdown-item') do %>
  <span class="fa fa-plus"></span>New Velocities
<% end %>
<% new_group_params = {load_id: @load.id, caliber_id: @load.caliber.id}%>
<%= link_to(new_shooting_group_path(new_group_params), class: 'dropdown-item') do %>
  <span class="fa fa-plus"></span>New Group
<% end %>
<% end %>

<dl class='dl-horizontal'>
  <dt>ID:</dt>
  <dd><%= @load.id %></dd>

  <dt>Date:</dt>
  <dd><%= @load.date %></dd>

  <dt>Brass:</dt>
  <dd><%= @load.brass.name_caliber %></dd>

  <dt>Brass length:</dt>
  <dd><%= @load.brass_length_full %></dd>

  <dt>Brass uses:</dt>
  <dd><%= @load.brass_uses %></dd>

  <dt>Bullet:</dt>
  <dd><%= @load.bullet.name_caliber_grain %></dd>

  <dt>Powder:</dt>
  <dd><%= @load.powder.name %></dd>

  <dt>Powder weight:</dt>
  <dd><%= @load.powder_weight %></dd>

  <dt>Primer:</dt>
  <dd><%= @load.primer.name %></dd>

  <dt>COL:</dt>
  <dd><%= @load.col_full %></dd>

  <dt>Run Out:</dt>
  <dd><%= @load.run_out_full %></dd>

  <dt>Velocity:</dt>
  <dd><%= @load.velocity_full %></dd>

  <dt>Number of Rounds:</dt>
  <dd><%= @load.rounds %></dd>

  <dt>Notes:</dt>
  <dd><%= simple_format @load.notes %></dd>
</dl>
