<div class='show-header pb-2 mt-2 mb-2 border-bottom'>
  <%= link_to edit_load_path(@load), class: 'btn btn-info' do %> |
    <span class='fa fa-edit'>Edit</span>
  <% end %>
  <%= link_to loads_path, class: 'btn btn-default' do %>
    <span class='fa fa-list'>Back</span>
  <% end %>
  <h2>Show Load</h2>
</div>

<dl class='dl-horizontal'>
  <dt>Date:</dt>
  <dd><%= @load.date %></dd>

  <dt>Brass:</dt>
  <dd><%= @load.brass.name_caliber %></dd>

  <dt>Brass length:</dt>
  <dd><%= @load.brass_length %></dd>

  <dt>Bullet:</dt>
  <dd><%= @load.bullet.name_grain_caliber %></dd>

  <dt>Powder:</dt>
  <dd><%= @load.powder.name %></dd>

  <dt>Powder weight:</dt>
  <dd><%= @load.powder_weight %></dd>

  <dt>Primer:</dt>
  <dd><%= @load.primer.name %></dd>

  <dt>COL:</dt>
  <dd><%= @load.col %></dd>

  <dt>Speed:</dt>
  <dd><%= @load.speed %></dd>
</dl>
