<p>
  <strong>Date:</strong>
  <%= @load.date %>
</p>

<p>
  <strong>Brass:</strong>
  <%= @load.brass.name_caliber %>
</p>

<p>
  <strong>Brass length:</strong>
  <%= @load.brass_length %>
</p>

<p>
  <strong>Bullet:</strong>
  <%= @load.bullet.name_grain_caliber %>
</p>

<p>
  <strong>Powder:</strong>
  <%= @load.powder.name %>
</p>

<p>
  <strong>Powder weight:</strong>
  <%= @load.powder_weight %>
</p>

<p>
  <strong>Primer:</strong>
  <%= @load.primer.name %>
</p>

<p>
  <strong>COL:</strong>
  <%= @load.col %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @load.speed %>
</p>

<%= link_to 'Edit', edit_load_path(@load), class: 'btn btn-info' %> |
<%= link_to 'Back', loads_path, class: 'btn btn-default' %>
