<%= simple_form_for(:user_settings, url: user_settings_path, method: :put) do |f| %>
  <h3 class='border-bottom'>Default Units</h3>
  <div class="form-inputs">
    <%= f.input :default_temperature, label: 'Temperature', required: false,
                as: :select, collection: Unit.temperature,
                selected: current_user.settings(:default_units).temperature %>
    <%= f.input :default_velocity, label: 'Velocity', required: false,
                as: :select, collection: Unit.velocity,
                selected: current_user.settings(:default_units).velocity %>
    <%= f.input :default_pressure, label: 'Pressure', required: false,
                as: :select, collection: Unit.pressure,
                selected: current_user.settings(:default_units).pressure %>
    <%= f.input :default_length, label: 'Length', required: false,
                as: :select, collection: Unit.length,
                selected: current_user.settings(:default_units).length %>
    <%= f.input :default_distance, label: 'Distance', required: false,
                as: :select, collection: Unit.distance,
                selected: current_user.settings(:default_units).distance %>
    <%= f.input :default_scope_adjustment, label: 'Scope Adjustment', required: false,
                as: :select, collection: Unit.scope_adjustment,
                selected: current_user.settings(:default_units).scope_adjustment %>
    <%= f.input :default_ballistic_coefficient, label: 'Ballistic Coefficient', required: false,
                as: :select, collection: Unit.ballistic_coefficient,
                selected: current_user.settings(:default_units).ballistic_coefficient %>
  </div>

  <h3 class='border-bottom'>Interface Settings</h3>
  <div class="form-inputs">
    <%= f.input :default_sort_by, label: 'Sort By', required: false,
                as: :select, collection: User.interface_settings[:sort_by],
                selected: current_user.settings(:interface).sort_by %>
    <%= f.input :default_sort_direction, label: 'Sort Direction', required: false,
                as: :select, collection: User.interface_settings[:sort_direction],
                selected: current_user.settings(:interface).sort_direction %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
