<div class="page-header pb-2 mt-2 mb-2 border-bottom">
  <%= link_to user_settings_edit_path, class: 'btn btn-info' do %>
    <span class="fa fa-edit">Edit</span>
  <% end %>
  <h2>Settings</h2>
</div>

<h3 class="border-bottom">Default Units</h3>

<dl class='dl-horizontal'>
  <dt>Temperature:</dt>
  <dd><%= current_user.settings(:default_units).temperature %></dd>
  <dt>Velocity:</dt>
  <dd><%= current_user.settings(:default_units).velocity %></dd>
  <dt>Pressure:</dt>
  <dd><%= current_user.settings(:default_units).pressure %></dd>
  <dt>Length:</dt>
  <dd><%= current_user.settings(:default_units).length %></dd>
  <dt>Distance:</dt>
  <dd><%= current_user.settings(:default_units).distance %></dd>
  <dt>Scope Adjustment:</dt>
  <dd><%= current_user.settings(:default_units).scope_adjustment %></dd>
  <dt>Ballistic Coefficient</dt>
  <dd><%= current_user.settings(:default_units).ballistic_coefficient %></dd>
</dl>

<h3 class="border-bottom">Interface Settings</h3>

<dl class='dl-horizontal'>
  <dt>Sort By:</dt>
  <dd><%= current_user.settings(:interface).sort_by %></dd>
  <dt>Sort Direction:</dt>
  <dd><%= current_user.settings(:interface).sort_direction %></dd>
</dl>
