<%%= index_header(<%= plural_table_name.titleize %>)%>

<table class='table table-striped'>
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
<% next if attribute.column_name == 'user_id' -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.column_name %> %></td>
<% end -%>
        <td><%%= index_actions(<%= singular_route_name %> %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>
