<%#= new_header(@ballistic_calculator) %>
<%#= render 'form', ballistic_calculator: @ballistic_calculator %>
<%= simple_form_for(@ballistic_calculator, url: ballistic_calculator_path, method: :post, remote: true, html: { data: { modal: true }}) do |f| %>
  <%= render 'form_errors', f: f %>

  <div class="form-inputs">
    <%= f.input :caliber_id, collection: @calibers, required: false %>
    <%= f.input :load_id, collection: @calibers,
                      label_method: :name, as: :grouped_select, group_method: :loads, required: false %>
    <%= f.input :gun_id, collection: @calibers,
                      label_method: :name, as: :grouped_select, group_method: :guns, required: false %>
    <%= f.input :ammo, label: 'Ammunition' do %>
      <%= f.label 'Ballistic Coefficient', class: 'col-sm-3 text-sm-right' %>
      <%= f.input_field :ballistic_coefficient, required: true, class: 'col-sm-2' %>
      <%= f.label 'Velocity', class: 'col-sm-3 text-sm-right' %>
      <%= f.input_field :velocity, required: true, class: 'col-sm-2' %>
    <% end %>
    <%= f.input :firearm, label: 'Firearm' do %>
      <%= f.label 'Height of Sight', class: 'col-sm-3 text-sm-right' %>
      <%= f.input_field :height_of_sight, required: true, class: 'col-sm-2' %>
      <%= f.label 'Zero Range', class: 'col-sm-3 text-sm-right' %>
      <%= f.input_field :zero_range, required: true, class: 'col-sm-2' %>
    <% end %>
    <%= f.input :range do %>
      <%= f.label 'Maximum Range', class: 'col-sm-3 text-sm-right' %>
      <%= f.input_field :ranges_max, class: 'col-sm-2' %>
      <%= f.label 'Interval', class: 'col-sm-3 text-sm-right' %>
      <%= f.input_field :ranges_interval, class: 'col-sm-2' %>
    <% end %>
    <%= f.input :wind_speed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
