<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ballistic Calculator Results</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <table class='table'>
        <tr>
          <td class="table-dark">Ballistic coefficient:</td>
          <td class="table-secondary"><%= @ballistic_calculator.ballistic_coefficient %></td>
          <td class="table-dark">Velocity:</td>
          <td class="table-secondary"><%= @ballistic_calculator.velocity %></td>
        </tr>
        <tr>
          <td class="table-dark">Height of sight:</td>
          <td class="table-secondary"><%= @ballistic_calculator.height_of_sight %></td>
          <td class="table-dark">Zero range:</td>
          <td class="table-secondary"><%= @ballistic_calculator.zero_range %></td>
        </tr>
        <tr>
          <td class="table-dark"> Wind speed:</td>
          <td class="table-secondary"><%= @ballistic_calculator.wind_speed %></td>
        </tr>
      </table>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Range</th>
            <th>Drop (in)</th>
            <th>Drop (MOA)</th>
            <th>Wind Drift (in)</th>
            <th>Wind Drift (MOA)</th>
          </tr>
          <% @ranges.each do |range| %>
            <tr>
              <td><%= range %></td>
              <td><%= @ballistic_calculator.BP(range).round(2) %></td>
              <td><%= @ballistic_calculator.BP_moa(range).round(1) %></td>
              <td><%= @ballistic_calculator.wind_drift(range)[0] %></td>
              <td><%= @ballistic_calculator.wind_drift_moa(range)[0] %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
