<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('site_title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%#= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2 sticky-top">
      <%= link_to t('site_title'), root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
          <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="shooting-data" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shooting</a>
            <div class="dropdown-menu" aria-labelledby="shooting-data">
              <%= link_to 'Shooting Logs', shooting_logs_path, class: 'dropdown-item' %>
              <%= link_to 'Shooting Groups', shooting_groups_path, class: 'dropdown-item' %>
              <%= link_to 'Shooting Velocities', shooting_velocities_path, class: 'dropdown-item' %>
              <%= link_to 'Shooting Locations', shooting_locations_path, class: 'dropdown-item' %>              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="reloading" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reloading</a>
            <div class="dropdown-menu" aria-labelledby="reloading">
              <%= link_to 'Loads', loads_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Bullets', bullets_path, class: 'dropdown-item' %>
              <%= link_to 'Powders', powders_path, class: 'dropdown-item' %>
              <%= link_to 'Primers', primers_path, class: 'dropdown-item' %>
              <%= link_to 'Brass', brasses_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="data-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
            <div class="dropdown-menu" aria-labelledby="data-dropdown">
              <%= link_to 'Calibers', calibers_path, class: 'dropdown-item' %>
              <%= link_to 'Guns', guns_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tools-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
            <div class="dropdown-menu" aria-labelledby="tools-dropdown">
              <%= link_to 'Ballistic Calculator', ballistic_calculator_path, class: 'dropdown-item' %>
            </div>
          </li>
          <% end -%>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-dropdown">
                <%= link_to 'Settings', user_settings_path, class: 'dropdown-item' %>
                <%= link_to 'Edit Account', edit_user_registration_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          <% else -%>
            <li class="nav-item"><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %></li>
          <% end -%>
        </ul>
      </div>
    </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 bg-light sidebar collapse show" id="sidebar">
          <div class="sidebar-sticky pt-md-5 mt-md-2">
            <ul class="nav flex-column">
              <li class="nav-item"><%= link_to "New Shooting Log", new_shooting_log_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "New Load", new_load_path, class: 'nav-link' %></li>
              <div class="dropdown-divider"></div>
            </ul>
          </div>
        </nav>
        <button type="button" id="toggle-sidebar" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar" class="offset-md-2" title="Toggle Sidebar">
          <span id="toggle-sidebar-icon" class="fa fa-angle-double-left"></span>
        </button>
        <main role="main" class="col-md-10 ml-sm-auto">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
              <%= value %>
            </div>
          <% end %>
          <%= yield %>
        </main>
      </div><!--/row-->
    </div> <!-- /container -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-5 offset-md-2" id="footer-nav">
      <span class="text-white pr-1">&copy; Company 2019</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footer" aria-controls="footer" aria-expanded="false" aria-label="Toggle footer">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="navbar-collapse collapse" id="footer">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>

    <div class="modal" id="mainModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
  </body>
</html>
